@model ModelSinger.Song

<div class="row" style="padding-top: 10px;">
    <div class="btn btn-default" style="display: inline;">
        @Ajax.ActionLink("prev", "GetNextOrPrevSong", new { currentSingerId = Model.SingerId, buttonType = "prev"}, new AjaxOptions { UpdateTargetId = "res" })
    </div>
    <div class="btn btn-default" style="display: inline; float: right;">
        @Ajax.ActionLink("next", "GetNextOrPrevSong", new { currentSingerId = Model.SingerId, buttonType = "next"}, new AjaxOptions { UpdateTargetId = "res" })
    </div>
</div>
<div class="row" id="res">
    @{
        Html.RenderPartial("_PartialSong", Model);
    }
</div>